{% extends 'inventory/base.html' %}
{% block body %}
    <title>INC Fleet</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<br>
<div class="btn-group" role="group">
    <a href="{% url 'displayTrucks' %}" class="btn btn-primary btn-md" role="button">Trucks</a>
    <a href="{% url 'addTrucks' %}" class="btn btn-warning btn-md" role="button" >+</a>
</div>
<div class="btn-group">
    <a href="{% url 'displaySmallVehicles' %}" class="btn btn-primary btn-md" role="button">Cars</a>
    <a href="{% url 'addSmallVehicles' %}" class="btn btn-warning btn-md" role="button">+</a>
</div>
<br>

<h4>Currently Viewing {{ header }}</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Nickname</th>
        <th>Type</th>
        <th>Plate</th>
        <th>Problems</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>

    {% for item in items %}
    <tr>
        <th>{{ item.nickname }}</th>
        <th>{{ item.make }}</th>
        <th>{{ item.plate }}</th>
        <th>{{ item.reportedProblem }}</th>
        <th>{{ item.status }}</th>

        {% if header|lower == "trucks" %}
        <td>
            <div class="btn-group" role="group">
                <a href="{% url 'truckdetails' item.pk %}" class="bi bi-search"> </a>

            </div>
        </td>
        {% elif header|lower == "cars" %}
        <td>
            <div class="btn-group" role="group">
                <a href="{% url 'vehicledetails' item.pk %}" class="bi bi-search"> </a>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
