{% extends 'inventory/base.html' %}
{% block body %}
<head>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

{% for item in items %}
<h4>Currently Viewing: {{ item.nickname }}</h4> <p>
<div class="mark">
    <div class=" text-center ">

        <p>
        <h4> Make: {{ item.make }}</h4>
        <p>
        <h4> Model: {{item.model}} </h4>
        <p>
        <h4> Type: {{ item.type }}</h4>
        <p>
        <h4> Plate: {{ item.plate}}</h4>
        <p>
        <h4> Vin: {{item.vin}}</h4>
        <p>
        <h4> EZ PASS: {{item.ezPass}}</h4>
        <p>
        <h4> Mileage: {{item.mileage}}</h4>
        <p>
        <h4> Rep. Problem: {{item.reportedProblem}}</h4>
        <p>
        <h4> Inspection:{{item.inspection}}</h4>
        <p>
        <h4> Registration: {{item.registration}}</h4>
        <p>
        <h4> Oil Change: {{item.oilChange}}</h4>
        <p>
        <h4> Monitored: {{item.isMonitored}}</h4>
        <p>
        <h4> Location: {{item.status}}</h4>
        <p>
            test:::: <img src="{{item.title.url}}" alt="">
            Title:<a href="{% url 'index'%}" type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-card-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"></path>
                </svg>
                <span class="visually-hidden">Button</span>
            </a>
            <td>
        <div class="btn">
            <a href="{% url 'editTrucks' item.pk %}" class="btn btn-warning btn-sm" role="button"
               aria-pressed="true">Edit</a>
            <a href="{% url 'index' %}" type="button" class="btn btn-warning btn-sm"> <span
                    class="glyphicon glyphicon-arrow-left"></span></a>
            <a href="{% url 'deleteTrucks' item.pk %}" class="btn btn-danger btn-sm" role="button"
               aria-pressed="true">X</a>
        </div>
        </td>
    </div>
</div>
</div>

{% endfor %}
{% endblock %}